header{
    font-style: italic; background: black; color: white;
}

hgroup {
    font-style: italic; background: black; color: white;
}

footer {
    font-style: oblique; font-family: 'Trebuchet MS';
}

ul {
    font-style: italic; background: gray;
}